
:root{
--black-text:#212121;
--grey-text:#757575;
--grey-bg:#F5F4FA;
--white:#ffffff;
--blue:#2196f3;
--bluedark:#188CE8;
--black-bg:#2F303A;


}
body{
position: relative;
background-color: var(--white);
font-family: 'Roboto', sans-serif;
font-size: 14px;
color:var(--grey-text);
line-height: 1.71;
list-style-type: none;
text-decoration: none;
}


.header-link{

color: var(--black-text);

}

.header-link:hover,
.header-link:focus{
color: var(--blue)
}
.logo {

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 0,838;
letter-spacing: 0.03em;
color: var(--black-text);
}

span {
color: var(--blue);
}

.contact-link {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 0.875;
letter-spacing: 0.02em;
text-align: left;
/* info@devstudio.com */

color: var(--grey-text);
}

.contact-link:hover,
.contact-link:focus {
color: var(--blue);

}
.portfolio-button:hover,
.portfolio-button:focus{
    color: var(--black-text);
}



.button-list:hover,
.button-list:focus {
    color: var(--blue);
    
}
.button-list-a:hover,
.button-list-a:focus {
color: var(--blue);
}

.button-list-b:hover,
.button-list-b:focus {
    color: var(--blue);
}
.button-list-c:hover,
.button-list-c:focus{
    color: var(--blue);
}

.current {
color: var(--blue);
}


ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header{

font-weight: 500;
}
.header-block{

color: var(--white);
background-color: var(--black-bg);
}
.block{
font-family: "Roboto";
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
}

.portfolio-list{
font-family: "Roboto";
position: absolute;   
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;    
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.portfolio-title{
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 0.5;

letter-spacing: 0.03em;
color: var(--black-text);
}

.title{
text-align: center;
font-size: 16px;
color: var(--black-text);
}

.title-title{
text-align: center;
}

.header-button {
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
border-radius: 4px;
border: 0px;
letter-spacing: 0.06em;
background-color: var(--blue);
color: var(--white);

}
.portfolio-button{    
width: 73px;
height: 38px;
left: 495px;
top: 174px;
background-color: var(--blue);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
border: 0px;
font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 0.615;
color: var(--white);

}
.about{
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 36px;
color: var(--black-text);
}
.about-title{
color: var(--black-text);
text-transform: uppercase;
}


.text,
.group{
box-shadow: var(--grey-bg);
color: var(--black-text);
top: 180px;
}


.button-list{
font-family: Roboto;
font-style: normal;
font-size: 16px;
font-weight: 500;
line-height: 0.615;
letter-spacing: 0.03em;
border: 0px;
height: 38px;
width: 128px;
left: 576px;
top: 174px;

}



.button-list-a{
height: 38px;
width: 145px;
left: 712px;
top: 174px;
border-radius: 4px;
font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 0.615;
border: 0px;
background:var(--grey-bg);
}

.button-list-b{
height: 38px;
width: 130px;
left: 976px;
top: 174px;
border-radius: 4px;
background: var(--grey-bg);
border: 0px;
font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 0.615;
letter-spacing: 0.03em;
color: var(--black-text);
}

.button-list-c{
height: 38px;
width: 128px;
left: 576px;
top: 174px;
border-radius: 4px;
background: var(--grey-bg);
border-radius: 4px;
border: 0px;
font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 0.615;
letter-spacing: 0.03em;
color: var(--black-text);
}


.portfolio-button:hover,
.portfolio-button:focus{
background-color: var(--blue);
}


.header-button:hover,
.header-button:focus{
background-color: var(--bluedark);
}

.portfolio-projekt{

border-radius: [object Object]px;
border: 1px; 

}

.comanda {

font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
filter: drop-shadow(0px 4px 4px rgba(0000.25));
background-color: var(--grey-bg);  
}

.footer{
background-color: var(--black-bg);
font-family:"Roboto" ;
font-style: normal;
letter-spacing: 0.03em;
}

.footer-logo {
color: var(--white);
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 0.838;
}

.footer-addres{
font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0.583;
color: var(--white);
}
.contakt-link{
font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0.583;
color: rgba(255, 255,255,0.6);
}
